python-dotenv

# Infra libraries
kafka-python
pymongo

# Visualization libraries
matplotlib
seaborn

# ML libraries
torch
scikit-learn
pandas

# Web scraping libraries
yfinance

# Requests libraries
requests
requests-cache
requests-ratelimiter