python-dotenv

# Infra libraries
kafka-python
beanie

# Visualization libraries
matplotlib
seaborn

# ML libraries
pandas
numpy
torch
scikit-learn
lightning

# Web scraping libraries
yfinance

# Requests libraries
requests
requests-cache
requests-ratelimiter